<div class="flex-column">
  <h1 class="container flex p-3 text-2xl font-bold text-stone-600 " style="font-family: Montserrat">Edit This Article</h1>
  <%= render "form", path: update_article_path, method: :patch, button_title: "Update Article"%>
</div>

