<div class="flex-column">
  <h1 class="container flex p-3 text-2xl font-bold text-stone-600 " style="font-family: Montserrat"> Create New Article</h1>
  <%= render "form", path: create_article_path, method: :post, button_title: "Save Article"%>
</div>


